@import url('https://fonts.googleapis.com/css?family=Playwrite:700|Karla:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --text-10: #444444ff;
    --text-20: #333333ff;
    --text-30: #222222ff;
    --background-10: #ffffffff;
    --background-20: #eeeeeeff;
    --background-30: #ddddddff;
    --primary-10: #778288ff;
    --primary-20: #55656eff;
    --primary-30: #303c43ff;
    --secondary-10: #a99c99ff;
    --secondary-20: #815f5aff;
    --secondary-30: #502d27ff;
    --accent-10: #8d8595ff;
    --accent-20: #48424fff;
    --accent-30: #29232eff;
    --transparent: #121f2190;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-10: #ffffffff;
    --text-20: #eeeeeeff;
    --text-30: #ddddddff;
    --background-10: #444444ff;
    --background-20: #333333ff;
    --background-30: #222222ff;
    --primary-10: #778288ff;
    --primary-20: #55656eff;
    --primary-30: #303c43ff;
    --secondary-10: #a99c99ff;
    --secondary-20: #815f5aff;
    --secondary-30: #502d27ff;
    --accent-10: #8d8595ff;
    --accent-20: #48424fff;
    --accent-30: #29232eff;
    --transparent: #121f2190;
  }
}

* {
  box-sizing: border-box;
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.karla-ll {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.playwrite-ng-modern-ll {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--background-30);
  color: var(--text-10);
  min-height: 100vh;
  min-width: 320px;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playwrite';
  font-weight: 500;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.210rem; /* 67.36px */}

h2 {font-size: 2.158rem; /* 50.56px */}

h3 {font-size: 1.69rem; /* 37.92px */}

h4 {font-size: 1.277rem; /* 28.48px */}

h5 {font-size: 0.933rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

nav ul {
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

main {
  min-height: 100dvh;
  height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--text-30);
  font-weight: 400;
  transition: all 0.55s ease-in-out;
  cursor: pointer;
}

a:hover {
   text-decoration: underline;
   color: var(--secondary-10);
}

.image {
  border-radius: 0.67rem;
  height: auto;
  width: 100%;
  opacity: 0.8;
}

.bubble:hover {
  cursor: pointer;
}

